*
{
  font-size: 9.5pt;
}

*:not(spinbutton) > button:not(.titlebutton)
{
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  min-height: 16pt;
}

entry
{
  min-height: 16pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
}

spinbutton
{
  min-height: 16pt;
}

spinbutton > button
{
  padding: 0pt;
}

treeview > entry
{
  min-height: 0pt;
}
